html, body {
  padding: 0;
  margin: 0;
  background-color: #0B111F;
  cursor: none;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
